<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ооо, так ти адмін</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
        table{
            align-self: center;
            width: 90%;
            margin: 20px auto;
        }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/chat_list.css">
    <link rel="stylesheet" type="text/css" href="css/header_footer.css">
</head>
<body>

<a th:href="@{/chats}" class="btn btn-dark mx-5 my-2" style="color: #fff">НААЗАААД</a>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" onchange="users()">
    <label class="btn btn-outline-primary" for="btncheck1">Users</label>

    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Chats</label>

    <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Messages</label>

    <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck4">Connector</label>
</div>
<table id="users" class="table-primary my-3" border="1px" >
    <tr class="table-dark" align="center">
        <th>Id</th>
        <th>Username</th>
        <th>Role</th>
    </tr>
    <tr th:each="client: ${users}" align="center">
        <td th:text="${client.userid}">id</td>
        <td th:text="${client.username}">username</td>
        <td th:text="${client.role}">role</td>
    </tr>
</table>

<table id="chats" class="table-warning my-3" border="1px" >
    <tr class="table-dark" align="center">
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Invite</th>
        <th>Joins</th>
    </tr>
    <tr th:each="chat: ${chats}" align="center">
        <td th:text="${chat.id}">chat_id</td>
        <td th:text="${chat.chat_name}">chat_name</td>
        <td th:text="${chat.code}">chat_code</td>
        <td th:text="${chat.chatInvite}">chat_invite</td>
        <td th:text="${chat.nums_of_joins}">joins</td>
    </tr>
</table>

<table id="messages" class="table-danger my-3" border="1px" >
    <tr class="table-dark" align="center">
        <th>Id</th>
        <th>Author</th>
        <th>Chat</th>
        <th>Date</th>
        <th>Message</th>
    </tr>
    <tr th:each="message: ${messages}" align="center">
        <td th:text="${message.id}">message_id</td>
        <td th:text="${message.author}">author</td>
        <td th:text="${message.chat}">chat_code</td>
        <td th:text="${message.date}">chat_date</td>
        <td th:text="${message.message}">message</td>
    </tr>
</table>

<table id="connector" class="table-secondary my-3" border="1px" >
    <tr class="table-dark" align="center">
        <th>Id</th>
        <th>Chat</th>
        <th>Chat Name</th>
        <th>Client</th>
    </tr>
    <tr th:each="clientChat: ${connector}" align="center">
        <td th:text="${clientChat.id}">Chat_id</td>
        <td th:text="${clientChat.chat}">Chat_code</td>
        <td th:text="${clientChat.chatName}">Chat_name</td>
        <td th:text="${clientChat.client}">User</td>
    </tr>
</table>
<script>
    var checkbox_users = document.getElementById("btncheck1");
    var checkbox_chats = document.getElementById("btncheck2");
    var checkbox_messages = document.getElementById("btncheck3");
    var checkbox_connector = document.getElementById("btncheck4");

    var table_users = document.getElementById("users");
    var table_chats = document.getElementById("chats");
    var table_messages = document.getElementById("messages");
    var table_connector = document.getElementById("connector");

    table_users.hidden = true;
    table_chats.hidden = true;
    table_messages.hidden = true;
    table_connector.hidden = true;

    checkbox_users.onchange = function (){
        table_users.hidden = !this.checked;
    }
    checkbox_chats.onchange = function (){
        table_chats.hidden = !this.checked;
    }
    checkbox_messages.onchange = function (){
        table_messages.hidden = !this.checked;
    }
    checkbox_connector.onchange = function (){
        table_connector.hidden = !this.checked;
    }
</script>
</body>
</html>