<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600;700&family=Righteous&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat_list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/my-bootstrap.css}">
    <title>Список чатів</title>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body vlink="#fff" alink="#fff">

<header th:insert="~{code_template :: #header}"></header>

<main class="main">
    <div class="content">
        <div th:if="${param.joined != null}" class="btn-danger" style="display: block; margin: auto; width: 80%">
            Код чату недійсний, або ви не ввійшли в чат
        </div>
        <div th:if="${param.not_exist != null}" class="btn-danger" style="display: block; margin: auto; width: 80%">
            Такого запрошення не існує!
        </div>
        <div th:if="${param.small != null}" align="center" class="btn-warning" style="display: block; margin: 20px auto -30px auto; width: 80%">
            Довжина чату не може бути меншою за 6 символів :/
        </div>
        <div class="username_and_buttons">
            <h3 class="username" th:text="${user}">
                TerrifficSprite
            </h3>
            <div class="buttons">
                <div class="buttons_img">
                    <!-- <img src="img/chat_list/settings.png" alt="" class="img_button"> -->
                    <a href="/logout" class="exit"><img src="img/chat_list/exit.png" alt="" class="img_button"></a>
                </div>
            </div>
        </div>
        <div class="main_block">

            <div class="main_top">
                <h3 class="mychats">
                    Мої чати
                </h3>

            </div>
            <div class="main_center">
                <span th:each="chat: ${chats}" class="chat">
                        <a th:href="@{/chat/{id}(id=${chat.chat})}" class="every_chat" width="100%">
                            <div class="left">
                                <div class="chat_name" th:text="${chat.chatName}">12345678</div>
                                <div class="last_msg" th:text="${chat.chat}">123456</div>
                            </div>
                        </a>
                        <div class="favourite">
                            <button class="copy" th:id="${chat.chatInvite}" onclick="copy(this.id)"><img  src="img/chat_list/copy.png" alt="" class="favoutite_img"></button>
                        </div>

                </span>
            </div>
            <div class="main_bottom">
                <form method="post" th:action="@{/chats/join}" id="send_join" class="join_input_button">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <input id="invite" name="invite" type="text" class="create_and_join"
                           placeholder="Вставте запрошення" required>
                    <input name="_csrf" type="hidden" value="4bf1816c-0080-40fd-a3f3-0d50c9d4a073"/>
                    <button type="submit" class="join" id="join_f">Увійти</button>
                </form>

                <a href="#" class="first" id="join">Ввійти в чат</a>
                <a href="#" class="first" id="create">Створити чат</a>

                <div class="create_input_button">
                    <form method="post" th:action="@{/chats/create}" id="send">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        <div class="create_invite">
                            <input th:value="${code}" value="1" name="chatInviteCode_hidden" id="a" type="hidden"/>
                            <input id="r" type="text" name="chat_invite" class="create_and_join" disabled
                                   placeholder="Ваше запрошення">
                            <script>
                                document.getElementById("r").value = "Запрошення: " + document.getElementById("a")
                                    .value;
                                console.log(document.getElementById("a").value);
                            </script>
                            <button type="button" class="join" onclick="copyText()">Скопіювати</button>
                        </div>

                        <div class="create_name">
                            <input type="text" name="chatName" class="create_and_join"
                                   placeholder="Придумайте назву чату" id="chatName" required>

                            <input name="_csrf" type="hidden" value="4bf1816c-0080-40fd-a3f3-0d50c9d4a073"/>
                            <button type="submit" class="join">Створити</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    ///////////////////////

    var join = document.getElementById("join");
    var create = document.getElementById("create");

    var form_join = document.getElementById("send_join");
    var form_create = document.getElementById("send");

    $("#chat_invite").hide(0);
    $("#join_f").hide(0);

    function change() {
        $(".main_bottom").css("flex-direction", "column");
        $(".main_center").css("height", "75%");
    }

    join.onclick = function (event) {
        event.preventDefault();
        change();

        $(this).hide(0);
        $(".create_input_button").hide(0);
        $("#create").show(0);

        $("#create").css({
            "margin": "10px auto"
        });
        $(".join_input_button").css("display", "flex");
        $("#chat_invite").show(0);
        $("#join_f").show(0);

    }

    create.onclick = function (event) {
        change();
        $(".main_center").css("height", "70%");
        event.preventDefault();
        $(this).hide(0);
        $(".join_input_button").hide(0);
        $("#join").show(0);
        $("#join").css({
            "margin": "10px auto"
        });

        $(".create_input_button").css("display", "flex");

    }

    ///////////////////////

    /*  Скопіювати текст*/
    function copyText() {
        const str = document.getElementById('a').value;
        const el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }

    form_create.onsubmit = function (event) {
        event.preventDefault();
        const str = document.getElementById('chatName').value.trim();
        document.getElementById('chatName').value = str;
        console.log(document.getElementById('chatName').value);
        if (str.length != 0)
            document.getElementById('send').submit();

    }

    form_join.onsubmit = function (event) {
        console.log(document.getElementById('invite').value);
        if (document.getElementById('invite').value.trim().length == 0){
            event.preventDefault();
            const str = document.getElementById('invite').value.trim();
            document.getElementById('invite').value = str;
        }
        else{
            document.getElementById('send_join').submit();
        }
    }

    // Скопіювати інвайт чату! //
    function copy(self){
        var $tmp = $("<textarea>");
        $("body").append($tmp);
        $tmp.val(/* тут має бути інвайт */self).select();
        document.execCommand("copy");
        $tmp.remove();
    }
</script>

<!-- Футер -->
<footer class="footer">
    <div class="footer__top">
        <div class="footer_top__included">
            <h4 class="footer__title">Скоро тут буде краще...</h4>
            <div class="logo">
                <div class="logo__img">
                    <!-- <img src="img/logo.png" alt="" width="40px"> -->
                </div>
                <div class="logo__text">
                    <h2>Nymos-Group</h2>
                </div>
            </div>
        </div>
        <div class="footer__items">
            <!-- <div class="footer__item">
                <h5 class="item__title">Згадка...</h5>
                <a href="#" class="footer_item__item"></a>
            </div> -->
            <!-- <div class="footer__item">
                <h5 class="item__title">Компанія</h5>
                <a href="#" class="footer_item__item">Про нас</a>
                <a href="#" class="footer_item__item">Новини</a>
                <a href="#" class="footer_item__item">Брендинг</a>
            </div>
            <div class="footer__item">
                <h5 class="item__title">Компанія</h5>
                <a href="#" class="footer_item__item">Про нас</a>
                <a href="#" class="footer_item__item">Новини</a>
                <a href="#" class="footer_item__item">Брендинг</a>
            </div> -->
        </div>

    </div>
</footer>
</body>
</html>